Spring/src/main/resources/wsdl/AlbumServices.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://www.jpworks.com/album"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  name="AlbumService" targetNamespace="http://www.jpworks.com/album">
    <wsdl:documentation>SOAP Definition for ws-employee</wsdl:documentation>

    <wsdl:types>
        <xsd:schema>
            <xsd:import namespace="http://www.jpworks.com/album" schemaLocation="album.xsd"/>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="AlbumByISRCRequest">
        <wsdl:part name="parameters" element="tns:AlbumByISRCRequest"/>
    </wsdl:message>
    <wsdl:message name="AlbumByNameRequest">
        <wsdl:part name="parameters" element="tns:AlbumByNameRequest"/>
    </wsdl:message>
    <wsdl:message name="AlbumResponse">
        <wsdl:part name="parameters" element="tns:AlbumResponse"/>
    </wsdl:message>
    <wsdl:message name="AlbumsResponse">
        <wsdl:part name="parameters" element="tns:AlbumsResponse"/>
    </wsdl:message>

    <!--This element defines the service operations and the combination of input and output elements to clients-->
    <wsdl:portType name="AlbumServicePortType">
        <wsdl:operation name="GetAlbumByISRC">
            <wsdl:input message="tns:AlbumByISRCRequest"/>
            <wsdl:output message="tns:AlbumResponse"/>
        </wsdl:operation>
        <wsdl:operation name="GetAlbumsByName">
            <wsdl:input message="tns:AlbumByNameRequest"/>
            <wsdl:output message="tns:AlbumsResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <!-- This element provides specific details on how an operation will actually be transmitted over the network-->
    <wsdl:binding name="AlbumServiceSOAP" type="tns:AlbumServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

        <wsdl:operation name="GetAlbumByISRC">
            <soap:operation soapAction="http://www.jpworks.com/album/GetAlbumByISRC"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="GetAlbumsByName">
            <soap:operation soapAction="http://www.jpworks.com/album/GetAlbumsByName"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>


    <!-- Definition of the service and the endpoint. -->
    <wsdl:service name="AlbumService">
        <wsdl:port name="AlbumServiceSOAP" binding="tns:AlbumServiceSOAP">
            <soap:address location="the-url-service-goes-here"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
